
body, html, #root, .admin {
    height: 100%;
    width: 100%;
    & > .container-fluid.fill {
        height: 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        & > .row {
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }
}
div#root > div {
    height: 100%;
    // position: fixed;
    width: 100%;
}


* {
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

p, span, div, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

table {
    tr, td {
        background: #fff;
    }
}

.btn-group{
    & .btn-success, .btn-danger, .btn-info{
        color: #fff;
    }
}


.content-container{
    margin-top: 60px;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}